//main: main.sass
.menus
  transition: $transistion
  background-color: #212121
  width: 0px
  display: flex
  &.active
    width: 360px!important
    transition: $transistion

.menulist
  margin-top: 70px
  flex: 1
  display: flex
