/* all main build */
@media screen and (max-width: 640px) {
  .mainmenu {
    height: calc($phone-menu - 20px) !important;
    transition: all 0.27s ease;
  }
  .mainmenu .menubtn {
    width: calc($phone-menu - 20px);
    transition: all 0.27s ease;
    height: calc($phone-menu - 20px);
    display: flex;
  }
  .mainmenu .btn img {
    width: calc($phone-btn - 20px);
    height: calc($phone-btn - 20px);
    transition: all 0.27s ease;
  }
  .mainimage {
    height: 179px !important;
  }
  .mainimage img {
    height: 179px !important;
    width: 234px !important;
  }
  .maininfo .textbox p {
    font-size: 26px !important;
  }
  .textbox {
    margin: auto;
  }
  .textbox .fixedwidthbox {
    width: 420px !important;
    height: 70px !important;
  }
  .textbox .fixedwidthbox a.socialbtn {
    background-size: 70px 420px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(2) {
    background-position: 0px 350px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(3) {
    background-position: 0px 280px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(4) {
    background-position: 0px 210px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(5) {
    background-position: 0px 140px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(6) {
    background-position: 0px 70px !important;
  }
}

@media screen and (max-width: 419px) {
  .textbox .fixedwidthbox {
    width: 320px !important;
    height: 53px !important;
  }
  .textbox .fixedwidthbox a.socialbtn {
    background-size: 53px 320px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(2) {
    background-position: 0px 267px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(3) {
    background-position: 0px 214px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(4) {
    background-position: 0px 161px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(5) {
    background-position: 0px 108px !important;
  }
  .textbox .fixedwidthbox a.socialbtn:nth-child(6) {
    background-position: 0px 55px !important;
  }
}

.menus.mobile {
  width: 0%;
  height: 100% !important;
}

.menus.mobile.active {
  transition: all 0.27s ease;
}

.menus.mobile.left {
  left: 0%;
  position: fixed !important;
}

.menus.mobile.right {
  right: 0%;
  position: fixed !important;
}

.menus.mobile.left.active {
  width: 100% !important;
}

.menus.mobile.right.active {
  width: 100% !important;
}

html {
  overflow-x: hidden;
  font-family: aileron;
  margin: 0px;
}

html body, html p, html a, html h1, html h2, html h3, html h4, html h5, html h6 {
  margin: 0px;
  text-decoration: none;
  color: white;
}

html body {
  background-color: #000000;
  display: flex;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
}

.hide {
  display: none !important;
}

/* layout */
.section {
  min-height: 60px;
  display: flex;
}

.s-1-1 {
  flex: 1;
}

.s-1-2 {
  flex: 1;
}

/* menu at the top */
.menuholder {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
}

.mainmenu {
  height: 70px;
  transition: all 0.27s ease;
  width: 100%;
}

.menubtn {
  width: 70px;
  transition: all 0.27s ease;
  display: flex;
}

.menubtn:hover {
  background-color: white;
}

.menubtn[data-btn="left"] {
  border-right: solid 2px #4ec7e2;
}

.menubtn[data-btn="right"] {
  border-left: solid 2px #4ec7e2;
}

.btn img {
  width: 50px;
  height: 50px;
  padding: 10px;
  transition: all 0.27s ease;
}

.btn img:hover {
  filter: invert(1);
}

/* the main section */
@keyframes logo {
  0% {
    opacity: 0;
    margin-top: -80px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes social {
  0% {
    opacity: 0;
    margin-top: 80px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.mainholder {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.mainimage {
  height: 224px;
  margin: 20px 0px 20px 0px;
  align-items: center;
  justify-content: center;
}

.mainimage img {
  width: 292px;
  height: 224px;
  animation: 1.2s ease logo;
}

.maininfo {
  text-align: center;
  display: flex;
}

.maininfo .textbox {
  margin: auto;
  width: calc(100% - 100px);
  animation-delay: 2s;
  animation: 1.2s ease logo;
  height: 60px;
  margin: 33px auto 33px auto;
}

.maininfo .textbox p {
  color: white;
  font-size: 28px;
  user-select: none;
}

.mainsocials {
  height: 120px;
}

.mainsocials .textbox {
  margin: auto;
}

.mainsocials .textbox .fixedwidthbox {
  display: flex;
  width: 360px;
  height: 60px;
  animation: 1.2s ease social;
}

.mainsocials .textbox .fixedwidthbox a.socialbtn {
  flex: 1;
  background-image: url("../images/socials.png");
  background-size: 60px 360px;
}

.mainsocials .textbox .fixedwidthbox a.socialbtn:nth-child(2) {
  background-position: 0px 300px;
}

.mainsocials .textbox .fixedwidthbox a.socialbtn:nth-child(3) {
  background-position: 0px 240px;
}

.mainsocials .textbox .fixedwidthbox a.socialbtn:nth-child(4) {
  background-position: 0px 180px;
}

.mainsocials .textbox .fixedwidthbox a.socialbtn:nth-child(5) {
  background-position: 0px 120px;
}

.mainsocials .textbox .fixedwidthbox a.socialbtn:nth-child(6) {
  background-position: 0px 60px;
}

.footer .textbox {
  text-align: center;
  height: 20px;
  width: calc(100% - 100px);
  margin: auto;
  font-size: 18px;
}

/* menus */
.menus {
  transition: all 0.27s ease;
  background-color: #212121;
  width: 0px;
  display: flex;
}

.menus.active {
  width: 360px !important;
  transition: all 0.27s ease;
}

.menulist {
  flex: auto;
  width: 320px;
  display: flex;
}

.homebtn {
  height: 70px;
  flex: 1;
  margin-left: 250px;
}
