html {
  overflow-x: hidden;
  font-family: AileronLight, arial;
  margin: 0px; }
  html body, html p, html a {
    margin: 0px;
    text-decoration: none;
    color: black; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

body::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar-thumb {
  background-color: #a7a7a7; }

.hide {
  display: none !important; }

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .preview .p-nav .logo img {
    margin: 40px auto;
    width: 144px;
    height: 128px; }
  .preview .p-left {
    width: 350px;
    background-color: #1b1b1b; }
  .preview .p-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .preview .p-info .p-line {
      width: 2px;
      margin: 0px 20px;
      margin-left: 30px;
      background-color: white; }
    .preview .p-info .p-text p {
      color: rgba(255, 255, 255, 0.75);
      margin: 0px 25px 0px 0px;
      font-size: 15px;
      font-family: AileronUltraLight;
      letter-spacing: 1px; }
      .preview .p-info .p-text p:first-child {
        font-size: 20px;
        margin-bottom: 14px; }
  .preview .p-button {
    width: 20px;
    height: 20px;
    background-color: red; }

.content-holder {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hide-menu {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 !important;
  flex: 0 !important;
  width: 0px !important;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.left {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: grey;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.left.active {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .left.active .menu:hover {
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    width: 140px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.menu {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.m-holder {
  height: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.m-button {
  height: 40px;
  background-color: silver;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease; }
  .m-button:hover {
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
    background-color: white; }

.middle {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1b1b1b; }

.middle.add {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .middle.add .logo img {
    width: 100px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.mid-holder {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 10% 0% 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.logo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .logo img {
    width: 125px;
    margin: auto;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.showreel {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: grey;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.right.active {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
