extend ./components/template
//- this will be added to the 
block content 
  
  - 
    //- layout options: "main", "layout", "sizes"
    var website = {
      title: "hello world",
      test: "test"
    }
    
    
    var layout = "layout"
    var test = "" 


  //- if conditions 
  include ./components/if 
