extend ./components/template

//- the setup of files that are all placed in one place to update when anything changes

block pug
  //- Pug components
  include ./components/vars
  include ./components/mixins
  //- if conditions 
  include ./components/if

block head
  include ./components/head 

block content
  include ./content/holder
  include ./components/ifbody
  include ./components/error 
    
  
