extend ./components/template
//- this will be added to the 
block content
  
  //- working with or without layout, can be found in vars
  
  if layout == "yes" 
    //layout dev view
    include ./components/layout
    
  else
    
    //add content to main
    include ./components/main
    
