-
  //- Bash's blog
  var bashBlog = {
    "link": "bash-blog",
    "title": "Bash's wonderful blog",
    "subT": "made as a test",
    "content":{
      "item": "text"
    },
    "smallText": "another blog by Bashuwu",
    "paragraph": "So this is what this blog looks like, quite neat if you as me XD"
  }

  blog.push(bashBlog)
  
  
  //- Test blog
  var testBlog = {
    "link": "test",
    "title": "test",
    "subT": "made as a test",
    "content":{
      "item": "text"
    },
    "smallText": "another blog by test",
    "paragraph": "So this is what this blog looks like, quite neat if you as me XD"
  } 
  
  blog.push(testBlog)
