doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title CreativeBash
    link(rel="shortcut icon", href="./images/logo_icon.ico", type="image/x-icon")
    link(rel='stylesheet', href='css/style.css')
    link(rel="stylesheet" media="screen" href="https://fontlibrary.org/face/aileron" type="text/css")
  body
    
    .preview
      .p-nav 
        .logo
          img(src="./images/clear_logo.png", alt="")
      .p-left
        
        .p-info
          .p-line
          .p-text
            p Welcome to my website
            p My site is still under construction, feel free to get in contact me through my online profiles. 
        .p-button.hide
        //Oh, why did u inspect, is it because you wanted to see an easter egg? If you just remove the class hide from p-button and click on the button, you will be able to see the progress of this website!
      .p-right
        p preview coming soon 
      
    
    .content-holder.hide
      .left
        .menu
          .m-holder
            .m-button
            .m-button
            .m-button
      .middle 
        .mid-holder
          .logo
            img(src="./images/clear_logo.png", alt="")
          .showreel
            p showreel
      .right

      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='jquery-3.2.1.min.js')
    script(src='js/index.js')
