//output:index.html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    title CreativeBash
    link(rel="stylesheet" media="screen" href="https://fontlibrary.org/face/aileron" type="text/css")
    link(rel="shortcut icon", href="./images/logo_icon.ico", type="image/x-icon")
    link(rel='stylesheet', href='css/main.css')
    
     
  body
    .menus#01.left
      .menulist
        .homebtn(data-btn="home")
        .listbtn
        .listbtn
        
    .menuholder
      .mainmenu.section
        .menubtn(data-btn= "left")
          .btn(href="" data-ms="01")
            img(src='images/creative bash code.png')
        .s-1-1 
        .menubtn(data-btn= "right")
          .btn(href="" data-ms="02")
            img(src='images/creative bash paint brush.png')
    .mainholder
      .mainimage.section
        img(src='images/creative bash logo.png')
      .maininfo.section 
        .textbox
          p Animation graduate who loves web design
      
      .mainsocials.section
        .textbox
          .fixedwidthbox
            a.socialbtn(href="https://twitter.com/Bashkunart" target="_blank")
            a.socialbtn(href="https://www.facebook.com/bashkunartist/" target="_blank")    
            a.socialbtn(href="https://www.artstation.com/bashkun" target="_blank")    
            a.socialbtn(href="https://www.deviantart.com/bashkun/gallery" target="_blank")      
            a.socialbtn(href="https://codepen.io/bashpro/" target="_blank")    
            a.socialbtn(href="https://github.com/bashpro" target="_blank")
      
      .footer.section
        .textbox
          p &copy;CreativeBash 2019
          
    .menus#02.right
      .menulist
        .homebtn(data-btn="home")
        .listbtn
        .listbtn

  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='jquery-3.2.1.min.js')
    script(src='js/index.js')
