div.body
  div.left
    div.menu
      div.m-holder
        div.m-button
        div.m-button
        div.m-button
  div.middle
    div.mid-holder
      div.logo
        p logo
      div.showreel
        p showreel
  div.right