doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title CreativeBash
    link(rel="shortcut icon", href="./images/logo_icon.ico", type="image/x-icon")
    link(rel='stylesheet', href='css/style.css')
  body
    .body
      .left
        .menu
          .m-holder
            .m-button
            .m-button
            .m-button
      .middle
        .mid-holder
          .logo
            img(src="./images/clear_logo.png", alt="")
          .showreel
            p showreel
      .right

      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='jquery-3.2.1.min.js')
    script(src='js/index.js')
