extend ./_includes/template

block uservars
  -
    website.title = "Creativebash"
    //-website.comments = true
    
    //-plugins.jquery = ""

block content
  
  p so i want to see comments
  
  a(href="../blog") Blogs
  

  
 
