-
  var website = {
    //- The title of the website
    title: "Creativebash",
    
    //- Dev comments options, mainly to have comments of whats been installed
    //- options : "", true
    comments: "",
  }
  
  var plugins = {
    jquery: true,
    //- if bootstrap is true, the main css library will not function
    bootstrap: "",
  }
  
  var blog = []
  
  
  
  
  
 

  
