- 
  //- layout options: "main", "layout", "sizes"
  var layout = "main"
  var test = ""

script.
  console.log("#{website.title}");
  
  $(document).ready(function(){
    console.log("#{website.test}");
  });
  
  var test = `#{website.test} test`; 
