//- If statements

//- which layout/components are we working on?

if layout == "layout" 
  //layout dev view
  include layout 

else if layout == "sizes"
  //testing sizing
  include sizes
  
else if layout == "main"
  //Main content
  include main
  
