//- If statements

//- fileChange and layout 

if website.fileChange == "yes"
  - var fCerr = true
    
    
else if website.devMode == ""
  - var main = true
  
  
//- devMode

if website.devMode == "yes"
  - var dev = true
  unless website.fileChange == ""
    - var fileChange = "this is a development view"
  
  if website.layout == "layout"
    - var lerr = true
    - var dev = fales
    
    if lerr && fCerr 
      - var err1 = true
    
    else
      //layout dev view
      - var layout = true 
  
    
    if website.title == ""
      p does your website have a name?
      
  else if website.layout == "sizes"
    //testing sizing
    - var sizes = true
    - var dev = fales
      
  else
    
    
else if website.layout !== ""
  - var err2 = true
  - var main = false
  


//- which layout/components are we working on?

if website.plugins.jquery == "yes"
  - var jquery = "true"
