//- If statements

//- which layout/components are we working on?

if layout == "layout" 
  //layout dev view
  include layout 
  if website.title == ""
    p does your website have a name?

else if layout == "sizes"
  //testing sizing
  include sizes
  
else if layout == "main"
  //Main content
  include main


  


if website.title !== ""
  p testing this because im curious
  p #{website.title}
