//- layout components

.section
  .box.row.no-margin
    .box.row
      h1 hello world
      h2 hello world
      h3 hello world
      h4 hello world
      h5 hello world
      h6 hello world
    .box.row
      p loll testing
  .box
    .box.row
      h3 box inside
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales, nunc ac euismod laoreet, lacus velit laoreet nisi, nec facilisis.
    .box.row
      h3 lol
      p Suspendisse sit amet sagittis tellus. Nunc pretium accumsan aliquet. Donec quam neque, accumsan et feugiat ac, tincidunt vel est. Morbi.

.section
  .box
    p testing
