//- this is just a template of all the layouts that can be used

.section
  .box.row
    .box.row
      h1 hello world
      h2 hello world
      h3 hello world
      h4 hello world
      h5 hello world
      h6 hello world
    .box.row
      p loll
  .box
    .box.no-flex
      h3 box inside
      p sdhfjkh dfjkhkshdf lskd j dkjfjkljlsjd dklfjs kdfj kjq weoi s ef wefef bwfjkhswelkjh\feh 
    .box
      h3 lol
      p fjhskdhfk jhekjhsdfuhy fe\kljh kjhe\ e\fjlkjeslkje e;'fkle\kfhfejhef hasefkjhs ejhkefkjh kjhef 

.section
  .box
    p testing
