//- sizes components
.section.v-h-center.row
  .box.w-h-350.no-margin.v-h-center.no-flex
    p lol
  
  .box
    .box.no-margin
      h2 testing
    .box.no-margin
      p testing
.section.v-h-center
  .box.w-h-500.no-margin
