doctype html
//- these are the pug vars and mixins
block pug 

html(lang="en")
  head
    //- head scripts
    block head 
    
  body
    //- layout components
    block content
      
    //- script tag
    script(src="./app.js")
    
