-
  var website = {
    title: "Creativebash",
    test: "this actually works",
    object: {
      testing: "this actually works"
    },
    array: {
      key: [1,2,3]
    },
    plugins: {
      jquery: "yes",
      
    }, 
    comments: ""
  }
