-
  var website = {
    //- The title of the website
    title: "Creativebash", 
    
    //- Change the file you're working on
    fileChange: "",
    
    //- Development mode options: "", "yes"
    //- "" (default) live website will be shown
    //- true Will 
    devMode: "",
      
    //- Components which can be viewed and edited through the sass files.
    //-  These components will display if assigned if the main page is selected
    //-  "layout" is flexbox system in the css for responsive design plus font formatting.
    //-  "sizes" is the sizes for the components in the css library.
    layout: "",
    
    
    plugins: {
      jquery: true,
      //- if bootstrap is true, the main css library will not function
      bootstrap: "",
      
      
    },
    
    //- Dev comments options, mainly to have comments of whats been installed
    //- options : "", true
    comments: "",
  }
  
  //- change the file name to the document you're working on
  //- example ../content/"main"
  
 

  
