//output: ../main/index.html, pretty: true
doctype html
head
  meta(charset='utf-8')
  title Builder
  link(rel='stylesheet' href='styles.css')
  //- this is a preset font that looks modern and sharp
  link(rel="stylesheet" media="screen" href="https://fontlibrary.org//face/aileron" type="text/css")
  meta(name='description' content='test')
  meta(name='author' content='Bash')
  
//script(src='js/scripts.js')

body 
  section.is-column.is-h-center.section-has-4.has-min-w
    .box.box-is-f1.has-no-min-w
      p.text-is-xs.
        test
    a(href="").box.box-is-f2
      p.text-is-s.
        test
    .box.is-flex.box-is-f2
      h1 test 
      
    .box
      h2.text-is-l test
    .box
      h3.text-is-xl test
    .box
      h4.text-is-xl1 test
    .box
      h5.text-is-xl2 test
    .box
      h6.text-is-xl3 test 
