//section is normally a full block element
.section
  max-width: 100%
  @include flex

.box
  flex: 1
  @include flex
  margin: 5px

//no flex is mainly for elements that have different sizes
.no-flex
  display: block

.row
  flex-direction: column

.column
  flex-direction: row
